body,html,.details-wrap{
	width: 100%;
	height: 100%;
}
.bannar{
	width: 100%;
	position: relative;
	height:100px;
}
.bannar-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: linear-gradient(-180deg, rgba(28,8,37,0.69) 0%, rgba(197,53,194,0.12) 65%);
}
.bannar-img img{
	width: 100%;
	height: 100%;
}
.bannar-text{
	text-align: center;
	position: absolute;
	color: #fff;
	width: 100%;
}
.bannar-text h2{
	font-size: 0.42rem;
	margin-bottom: 0.2rem;
	font-weight: 700;
}
.bannar-text p{
	font-size: 0.3rem;
}
.operate-cont{
	position: absolute;
	width: 100%;
	height: 100%;
}
.operate-cont li{
	position: absolute;
	color: #fff;
	font-size: 0.3rem;
}
.operate-cont li i{
	font-size: 0.5rem;
	display: inline-block;
	vertical-align: middle;
}
.operate-cont li:nth-child(1){
	top: 0.3rem;
	left: 0.3rem;
}
.operate-cont li:nth-child(2){
	top: 0.3rem;
	right: 0.3rem;
}
.operate-cont li:nth-child(3){
	bottom: 0.3rem;
	right: 0.3rem;
	font-size: 14px;
	height: 28px;
	padding: 0 10px;
	line-height: 28px;
	border-radius: 18px;
	background: #C535C2 ;
	font-size: 14px;
}
.operate-cont li:nth-child(4){
	bottom: 0.3rem;
	left: 0.3rem;
	height: 28px;
	padding: 0 10px;
	line-height: 28px;
	border-radius: 18px;
	background: #C535C2 ;
	font-size: 14px;
}
.operate-cont li:nth-child(4) i{
	margin-right: 0.1rem;
	font-size: 14px;
}
.audio-play{
	background: #F5F5F8;
	box-sizing:border-box;
	width:100% !important;
	padding: 0.25rem;
	color: #C535C2 ;
}
.audio-play-btn i{
	color: #9E9DAC;
}
.audio-play-btn i.active{
	color: #C535C2;
}
.audio-play-btn{
/*	width: 1rem;*/
	display: inline-block;
	vertical-align: middle;
}
.audio-text p i{
	color: #9E9DAC;
	font-size: 0.5rem;
}
.audio-text p i.active{
	color: #C535C2;
}
.audio-text{
	display: inline-block;
	vertical-align: middle;
	font-size: 0.18rem;
	width:50%;
	width:-moz-calc(100% - (1.5rem)); 	
	width:-webkit-calc(100% - (1.5rem)); 	
	width: calc(100% - (1.5rem)); 		
}
.audio-text h2{
	color: #29275A ;
	font-size: 0.34rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-bottom: 5px;
}
.audio-text p{
	color: #29275A ;
	font-size: 0.25rem;
	padding-top: 5px;
	line-height: 0.5rem;
}
.audio-play-btn i{
	font-size: 0.8rem;
}
.scroll-cont{
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.news-cont{
	padding: 10px 15px;
	font-size: 0.34rem;
	line-height: 1.8;
	color: #656388;
	text-align: justify;
}
.news-cont img{
	width: 100%;
	margin: 10px 0;
}
.relevant-msg{
	padding: 0 15px;
	font-size: 0.34rem;
	line-height: 1.8;
	color: #656388;
}
.relevant-msg i{
	vertical-align: middle;
}
.relevant-msg .icon-give_like{
	margin-left: 20px;
}
.relevant-msg span{
	margin-right: 5px;
}
.thumbs-up{
	text-align: center;
	padding: 1rem;
}
.thumbs-up p{
	font-size: 0.3rem;
	color: #656388 ;
}
.thumbs-up i{
	color: #ccc;
	font-size: 1rem;
}
.thumbs-up i.active{
	color: #C535C2;
}
.division-line{
	width: 100%;
	background: #F5F5F8;
	height: 0.18rem;
}
.comment-cont{
	font-size: 0.18rem;
	padding: 0 15px;
}
.comment-cont h2{
	text-align: center;
	font-size: 0.4rem;
	padding: 0.38rem;
	color: #29275A;
}
.comment-cont li{
	margin-bottom: 0.42rem;
}
.comment-cont .head-img{
	width: 0.7rem;
	height: 0.7rem;
	border-radius: 100%;
	overflow: hidden;
}
.comment-cont .head-img img{
	width: 100%;
	height: 100%;
}
.comment-text{
	width:70%;
	width:-moz-calc(100% - (1rem)); 	
	width:-webkit-calc(100% - (1rem)); 	
	width: calc(100% - (1rem)); 
}
.comment-text h3{
	color: #9E9DAC;
	font-size: 0.3rem;
}
.comment-text p{
	color: #29275A;
	font-size: 0.3rem;
	margin-top: 0.14rem;
}
.comment-div{
	margin: 10px 0;
	background: #F5F5F8;
	border-radius: 0.5rem;
	height: 0.8rem;
	line-height: 0.8rem;
	overflow: hidden;
	color: #9E9DAC;
}
.comment-div i{
	font-size: 0.5rem;
    width: 0.5rem;
    height: 0.5rem;
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.18rem;
}
.comment-div input{
	border: none;
	height: 0.8rem;
	line-height: 0.8rem;
	width:70%;
	width:-moz-calc(100% - (1rem)); 	
	width:-webkit-calc(100% - (1rem)); 	
	width: calc(100% - (1rem)); 
	background: #F5F5F8;
	font-size: 0.3rem;
	color: #9E9DAC;
}
